<!DOCTYPE html>
<html>
<head>
  <title>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</title>
  <link rel="stylesheet" href="/public/style_friends.css">
  <script src="/public/script.js"></script>
</head>
<body>
  <h1>Zaregistrovaní kamarádi</h1>
  <div id="outputContainer" class="data-container">
    <!-- Zde budou vložena data z backendu -->
  </div>

  <script>
    // Zavolání metody vypis() po načtení stránky
    document.addEventListener('DOMContentLoaded', function() {
      vypis();
    });
  </script>
</body>
</html>
