<!DOCTYPE html>
<html>
<head>
  <title>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</title>
  <link rel="stylesheet" href="/public/style_index.css">
</head>
<body>
  <h1>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1>
  <a href="/registrace">Registrovat se</a>
  <video autoplay muted loop id="video-bg">
    <source src="/public/background.MOV" type="video/MOV">
    Your browser does not support the video tag.
  </video>

  <script src="/public/script.js"></script>

</body>
</html>
